<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
<!--    <draggable v-model="array" :direction="'horizontal'">-->
<!--    <draggable v-model="array1" group="test" @end="addCheck">-->
<!--        <div class="drag-item" v-for="element in array1" :key="element.id">-->
<!--          name: {{element.name}}-->
<!--        </div>-->
<!--    </draggable>-->
<!--    <draggable v-model="array2" group="test" @end="addCheck" style="margin-top: 50px;">-->
<!--      <div class="drag-item" v-for="element in array2" :key="element.id">-->
<!--        name: {{element.name}}-->
<!--      </div>-->
<!--    </draggable>-->
    <FreeTransform
      v-for="element in elements"
      :x="element.x"
      :y="element.y"
      :scale-x="element.scaleX"
      :scale-y="element.scaleY"
      :width="element.width"
      :height="element.height"
      :angle="element.angle"
      :offset-x="0"
      :offset-y="0"
      :id="element.id"
      @update="update(element.id, $event)"
      @end="dropped"
      >
      <div class="element" :style="{width: `100px`, height: `100px`}">
        {{element.id}}s
      </div>
    </FreeTransform>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import FreeTransform from 'vue-free-transform'

export default {
  name: 'app',
  data: () => {
    return {
      array1: [
        {id: 1, name: "Seth"},
        {id: 2, name: "Dana"},
        {id: 3, name: "Josh"},
        {id: 4, name: "Jake"},
        {id: 5, name: "Seanie"},
        {id: 6, name: ""},
        {id: 7, name: ""},
        {id: 8, name: ""},
        {id: 9, name: ""},
        {id: 10, name: ""}
      ],
      array2: [
        {id: 1, name: "Seth"},
        {id: 2, name: "Dana"},
        {id: 3, name: "Josh"},
        {id: 4, name: "Jake"},
        {id: 5, name: "Seanie"},
        {id: 6, name: ""},
        {id: 7, name: ""},
        {id: 8, name: ""},
        {id: 9, name: ""},
        {id: 10, name: ""}
      ],
      elements: [
        {
          id: "el-1",
          x: 0,
          y: 0,
          scaleX: 1,
          scaleY: 1,
          width: 100,
          height: 100,
          angle: 0
        },
        {
          id: "el-2",
          x: 350,
          y: 0,
          scaleX: 1,
          scaleY: 1,
          width: 100,
          height: 100,
          angle: 0
        },
        {
          id: "el-3",
          x: 500,
          y: 0,
          scaleX: 1,
          scaleY: 1,
          width: 100,
          height: 100,
          angle: 0
        },
        {
          id: "el-4",
          x: 600,
          y: 0,
          scaleX: 1,
          scaleY: 1,
          width: 100,
          height: 100,
          angle: 0
        },
        {
          id: "el-5",
          x: 700,
          y: 0,
          scaleX: 1,
          scaleY: 1,
          width: 100,
          height: 100,
          angle: 0
        },
        {
          id: "el-6",
          x: 800,
          y: 0,
          scaleX: 1,
          scaleY: 1,
          width: 100,
          height: 100,
          angle: 0
        }
      ]
    }
  },
  computed: {
  },
  methods: {
    findClosestOpening: function(payload, direction="both") {
      let overlaps = this.checkOverlap(payload)
      if(overlaps.length > 0) {
        // payload.x = overlaps[0].x + overlaps[0].width + 1
        overlaps.sort((a, b) => a.x - b.x)
        let leftPayload = {...payload, x: overlaps[0].x - payload.width - 1}
        let rightPayload = {...payload, x: overlaps[overlaps.length - 1].x + overlaps[0].width + 1}
        if(direction === "left") {
          payload = this.findClosestOpening(leftPayload, "left")
        }
        else if(direction === "right") {
          payload = this.findClosestOpening(rightPayload, "right")
        }
        else if(direction === "both") {
          let leftResult = this.findClosestOpening(leftPayload, "left")
          let rightResult = this.findClosestOpening(rightPayload, "right")
          if(Math.abs(leftResult.x - payload.x) < Math.abs(rightResult.x - payload.x)) {
            payload = leftResult
          }
          else {
            payload = rightResult
          }
        }
      }

      return payload
    },
    checkOverlap: function(payload) {
      let payloadEnd = payload.x + payload.width
      return this.elements.filter(element => {
        let elEnd = element.x + element.width
        let result = payload.id !== element.id && (element.x<=payload.x===payload.x<=elEnd || element.x<=payloadEnd===payloadEnd<=elEnd || payload.x<=element.x===element.x<=payloadEnd)
        if(result) {
          console.log(`Found an overlap between ${payload.id} and ${element.id}`)
        }
        return result
      })
    },
    dropped: function(payload) {
      payload = this.findClosestOpening(payload)
      this.update(payload.id, payload)
    },
    update: function(id, payload) {
      console.log(payload)
      this.elements = this.elements.map(element => {
        if(id === element.id) {
          payload.y = 0
          return {
            ...element,
            ...payload
          }
        }
        return element
      })
    }
  },
  components: {
    HelloWorld,
    FreeTransform
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

  .drag-item {
    background-color: lightblue;
    display: inline;

  }
  .element {
    background-color: lightblue;
  }
</style>
